.logo-minimize {
    display: none;
}

[data-kt-aside-minimize=on] .arrow-top {
    display: none;
}

.aside:hover .arrow-top {
    display: flex !important;
}

[data-kt-aside-minimize=on] .arrow-top {
    display: none;
}

.aside:hover .arrow-top {
    display: flex !important;
}

    .header-tablet-and-mobile-fixed.toolbar-tablet-and-mobile-fixed .wrapper {
        padding-top: calc(0px + var(--kt-toolbar-height-tablet-and-mobile)) !important; 
    }
