
[data-app-sidebar-minimize=on] .arrow-top {
    display: none;
}

.sidebar:hover .arrow-top {
    display: flex !important;
}

[data-app-sidebar-minimize=on] .arrow-top {
    display: none;
}

.sidebar:hover .arrow-top {
    display: flex !important;
}

    .header-tablet-and-mobile-fixed.toolbar-tablet-and-mobile-fixed .wrapper {
        padding-top: calc(0px + var(--kt-toolbar-height-tablet-and-mobile)) !important; 
    }

    .app-sidebar-minimize .app-sidebar-toggle {
        display: none; /* Oculta a seta */
    }
    
    .app-sidebar-expand .app-sidebar-toggle {
        display: block; /* Exibe a seta novamente */
    }
    